*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

span{ 
    /* background: url("https://cdn1.iconfinder.com/data/icons/christmas-flat-4/58/010_-_Heart-64.png"); */
    /* background: url("https://cdn2.iconfinder.com/data/icons/valentine-day-16/512/692_loveing_love_heart_wedding_valentine_valentines_day_love-256.png"); */
    background: url("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/heart-256.png");
    height: 100px;
    width: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    animation: animate 6s linear ;
}

@keyframes animate {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }

    
}